{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Sobre Nós!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Somos um grupo de estudantes da USP São Carlos buscando fortalecer o comércio dos agricultores locais. Nosso objetivo é facilitar a compra e venda de produtos frescos e orgânicos para aqueles que não podem realizar essa troca pessoalmente, em feiras.</p>
            <p>Comprar de pequenos produtores ajuda a movimentar a economia local, sustentar famílias e contribui para uma alimentação saudável e livre de agrotóxicos e conservantes.</p>
            <p>Estamos empenhados em transformar a maneira como as pessoas se conectam com a alimentação, promovendo a sustentabilidade e o apoio aos produtores de nossa região.</p>
        </div>
    </div>
</div>
{% endblock content %}